.header {
  position: fixed;
  left: 0t;
  left: 0;
  top: 0;
  /* background: white; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 111;
  backdrop-filter: blur(2rem);
}
.header-btn {
  background: white;
  cursor: pointer;
  color: black;
  border: none;
  padding: 3px 1rem;
  font-weight: bold;
  border-radius: 8px;
}
.header-btn-alt {
  color: white;
  background: transparent;
  border: 2px solid white;
  padding: 5px 2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.App {
  overflow-x: hidden;
}

.logo {
  font-size: 18px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: white;
}

.logo-big {
  font-size: 25px;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  text-align: center;
}
.center {
  text-align: center;
}
.logo-pic {
  max-height: 53vh;
  margin-bottom: 5rem;
}
