:root {
  font-size: 10px;
  --background: #181a26;
  --background-gradient: linear-gradient(45deg, #161617, #292b30);
  --font: #aaa;
  --accent: #3399ff;
  --accent-trans: #00000099;
  --trans: all 0.5s ease-out;
  --trans-quick: all 0.3s ease-out;
  --border-color: #ffffff33;
  --x-pad: 10vmin;
  --y-pad: 10vmin;
  --gradient-background: linear-gradient(0deg, #121212, #282828);
  --signature-radius: 4rem;
  --blue-gradient: linear-gradient(-135deg, #0080ff, #0035af);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;

}

html {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  min-height: 100vh;
  color: var(--font);
  padding: 10vh 0em;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  position: relative;
}


h2 {
  margin-top: 1rem;
  color: #fff;
}

h1 {
  font-size: 6vmin;
  color: var(--font);
  position: relative;
  margin-bottom: 1rem;
  font-weight: 900;
  color: #fff;
}

h3 {
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

i {
  font-size: 4rem;
  background-color: #42424222;
  padding: 2rem;
  border-radius: 50%;
  margin-top: 1rem;
}

p {
  margin: 1rem 0;
}

label {
  color: var(--accent);
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bolder;
  margin-top: 2rem;
  display: block;
}

input,
select {
  background: transparent;
  width: 100%;
  border: 2px solid var(--border-color);
  height: 5rem;
  border-radius: var(--signature-radius);
  margin: 1rem 0px;
  font-size: 1.5rem;
  color: var(--font);
  padding: 0 1rem;
  transition: var(--trans-quick);
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--accent);
}

input:disabled,
select:disabled {
  opacity: 0.5;
}

input::placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder {
  color: aliceblue;
}

.countrycode-container {
  display: flex;
}

.countrycode-container select {
  flex: 1;
  margin-right: 1rem;
}

.countrycode-container input {
  flex: 2;
}


.smoother {
  transform: scale(1);
  opacity: 0;
  transition: var(--trans);
  min-height: 100%;
  pointer-events: none;
  padding: 0vh 3rem;
  overflow-x: hidden;
  width: 100%;
}

.smooth-show {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.smooth-show section {
  animation: reveal 0.5s ease-in-out 1 forwards;
  opacity: 0;
  transform: translateY(2rem);
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.smooth-show section:nth-child(1) {
  animation-delay: 0.3s;
}

.smooth-show section:nth-child(2) {
  animation-delay: 0.6s;
}

.smooth-show section:nth-child(3) {
  animation-delay: 0.9s;
}

.smooth-show section:nth-child(4) {
  animation-delay: 1.2s;
}

.smooth-show section:nth-child(5) {
  animation-delay: 1.5s;
}

.smooth-show section:nth-child(6) {
  animation-delay: 1.8s;
}

.smooth-show section:nth-child(7) {
  animation-delay: 2.1s;
}

.smooth-show section:nth-child(8) {
  animation-delay: 2.4s;
}

.smooth-show section:nth-child(9) {
  animation-delay: 2.6s;
}

.smooth-show section:nth-child(10) {
  animation-delay: 4s;
}